body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: var(--color-background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --color-primary: #6200EE;
  --color-primary-variant-: #3700B3;
  --color-secondary: #03DAC6;
  --color-secondary-variant: #018786;
  --color-background: #FFFFFF;
  --color-surface: #FFFFFF;
  --color-error: #B00020;
  --color-on-primary: #FFFFFF;
  --color-on-secondary: #000000;
  --color-on-background: #000000;
  --color-on-surface: #000000;
  --color-on-error: #FFFFFF;
}

[data-theme="dark"] {
  --color-primary: #BB86FC;
  --color-primary-variant-: #3700B3;
  --color-secondary: #03DAC6;
  --color-secondary-variant: #03DAC6;
  --color-background: #121212;
  --color-surface: #121212;
  --color-error: #CF6679;
  --color-on-primary: #000000;
  --color-on-secondary: #000000;
  --color-on-background: #FFFFFF;
  --color-on-surface: #FFFFFF;
  --color-on-error: #000000;
}