@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Open Sans';
  height: 100%;
  background-color: var(--color-background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100%;
}

:root {
  --color-primary: #6200EE;
  --color-primary-variant: #3700B3;
  --color-secondary: #03DAC6;
  --color-secondary-variant: #018786;
  --color-background: #FFFFFF;
  --color-surface: #FFFFFF;
  --color-error: #B00020;
  --color-disabled: rgba(0, 0, 0, 0.12);
  --color-on-primary: #FFFFFF;
  --color-on-secondary: #000000;
  --color-on-background: #000000;
  --color-on-surface: #000000;
  --color-on-error: #FFFFFF;
  --color-on-disabled: rgba(0, 0, 0, 0.38);
}

[data-theme="dark"] {
  --color-primary: #BB86FC;
  --color-primary-variant: #3700B3;
  --color-secondary: #03DAC6;
  --color-secondary-variant: #03DAC6;
  --color-background: #121212;
  --color-surface: #121212;
  --color-error: #CF6679;
  --color-disabled: rgba(255, 255, 255, 0.12);
  --color-on-primary: #000000;
  --color-on-secondary: #000000;
  --color-on-background: #FFFFFF;
  --color-on-surface: #FFFFFF;
  --color-on-error: #000000;
  --color-on-disabled: rgba(255, 255, 255, 0.38);
}

@mixin for-size($range) {
  $phone-upper-boundary: 600px;
  $tablet-upper-boundary: 900px;

  @if $range == phone {
    @media (max-width: #{$phone-upper-boundary - 1}) { @content; }
  } @else if $range == tablet {
    @media (min-width: $phone-upper-boundary) { @content; }
  } @else if $range == desktop {
    @media (min-width: $tablet-upper-boundary) { @content; }
  }
}